@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #hero .container {
        padding: 0px;
    }

    #hero {
        background-image: url('assets/hero-bg.png');
        /* background-position: center; */
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
        height: 35em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* .hero-texts {
        margin-top: 10px;
    } */

    .heading-large {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 0px;
    }

    .hero-paragraph {
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 0px;
    }

    #hero-illustration {
        padding-top: 0px;
        width: 50px;
    }

    #hero-illustration img {
        width: 22em;
    }

    /* Section Two - Study Abroad */

    #illustration-section-one-circle {
        display: none;
    }

    #illustration-section-one-dots {
        display: none;
    }

    #step-heading {
        font-size: 44px;
        text-align: center;
        color: #2873B9;
        /* width: 75%; */
        margin: auto;
    }

    #step-heading span {
        font-weight: 400;
        font-size: 34px;
        text-align: center;
        color: #5A5A5A;
    }

    #step-two {
        margin-left: 0;
    }

    .step-card-container {
        width: 100%;

    }

    .step-heading {
        font-weight: 700;
        font-size: 22px;
        text-transform: capitalize;
        color: #2575AF;
    }

    .step-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: justify;
        color: #000000;
        /* width: 90% */
    }

    .steps-illustration {
        margin-bottom: 6rem;
        width: 6rem;
    }


    /* About LSA */
    #steps-iilustration {
        width: 14rem;
    }

    .heading-black {
        color: #5A5A5A;
    }

    .heading-two-blue {
        height: 4rem;
        font-weight: 700;
        font-size: 37px;
        color: #2873B9;
        text-align: left;
    }

    #about-text-container {
        width: 22rem;
        padding-top: 0rem;
        padding-right: 0rem;
    }

    .about-sub-heading {
        font-weight: 600;
        font-size: 18px;
        text-align: left;
        color: #000000;
    }

    #horizontal-line {
        border: 2px solid #000000;
        width: 225px;
        margin-left: 0rem;
        margin-top: 0;
    }

    .about-paragraph {
        width: 850px;
        font-size: 18px;
        text-align: left;
        color: #000000;
        order: 2;
    }

    #about-paragraph-container {
        width: 22rem;
    }

    #circle-point {
        border-radius: 50%;
        width: 16px;
        height: 5px;
        background-color: #2575AF;
        margin-top: 7px;
        margin-right: 6px;
        order: 1;
    }

    #dashed-circle {
        position: relative;
        width: 9rem;
        left: -6rem;
        top: -35rem;
        display: none;
    }


    #violet-circle {
        /* position: relative;
    width: 346px;
    height: 346px;
    right: -980px;
    top: -406px; */
        display: none;

    }

    /* Counter Section */

    #counter-section {
        margin-bottom: 8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

    }

    .counter-single-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #red-card {
        background-color: #FF8888;
        border-radius: 26px;
        width: 8rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        z-index: 0;
    }


    #violet-card {
        background-color: #E0BCF1;
        border-radius: 26px;
        width: 8rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        z-index: 0;
    }

    #green-card {
        background-color: #8ADAA0;
        border-radius: 26px;
        width: 8rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        z-index: 0;
    }

    #yellow-card {
        background-color: #FFEBB8;
        border-radius: 26px;
        width: 8rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        z-index: 0;
    }

    #blue-card {
        background-color: #93BEE4;
        border-radius: 26px;
        width: 8rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        z-index: 0;
    }

    /* the number score on the cards */
    #red-card-score {
        font-weight: 700;
        font-size: 4rem;
        position: unset;
        color: #398633;
        margin-bottom: -23px;
        z-index: 2;
    }

    #violet-card-score {
        font-weight: 700;
        font-size: 4rem;
        position: unset;
        top: 53px;
        left: 15px;
        color: #3D4B9D;
        margin-bottom: -23px;
        z-index: 2;
    }

    #green-card-score {
        font-weight: 700;
        font-size: 4rem;
        position: unset;
        top: 53px;
        left: 19px;
        color: #E3AF27;
        margin-bottom: -23px;
        z-index: 2;
    }

    #yellow-card-score {
        font-weight: 700;
        font-size: 4rem;
        position: unset;
        top: 53px;
        left: 23px;
        color: #E03535;
        margin-bottom: -23px;
        z-index: 2;
    }

    #blue-card-score {
        font-weight: 700;
        font-size: 4rem;
        position: unset;
        top: 53px;
        left: 27px;
        color: #398633;
        margin-bottom: -23px;
        z-index: 2;
    }


}