@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');


.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.header-link {
    font-size: 20px;
    font-weight: 400;
}

.header-link:hover {
    border-bottom: 2px solid #0F508C;
    border-bottom-width: 2px;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
}

#hero {
    background-image: url('/assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 831px;
    display: flex;
}

.heading-large {
    color: #FFFFFF;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 37px;
}

.hero-paragraph {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

#header-heading-style {
    background-color: white;
    color: #2673B9;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 3px;
    border-radius: 15px;
}

#hero .container {
    padding-top: 99px;
    padding-left: 205px;
}

#hero-illustration {
    padding-top: 77px;
}