@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

/* navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


/* body */
body {
    font-family: 'Darker Grotesque', sans-serif;
}


/* hero */
.header-link {
    font-size: 20px;
    font-weight: 400;
}

.header-link:hover {
    border-bottom: 2px solid #0F508C;
    border-bottom-width: 2px;
}


#hero {
    background-image: url('assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 853px;
    display: flex;
}

.heading-large {
    color: #FFFFFF;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 48px;
}

.hero-paragraph {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

#header-heading-style {
    background-color: white;
    color: #2673B9;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 3px;
    border-radius: 15px;
}

#hero .container {
    padding-top: 99px;
    padding-left: 205px;
}

#hero-illustration {
    padding-top: 77px;
}

/* steps of higher study */

#step-heading {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 58px;
    text-align: center;
    color: #2873B9;
}

#step-heading span {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color: #5A5A5A;

}

.steps-illustration {
    /* width: 13%; */
    width: 53%;
}

#step-two {
    margin-left: 60px;
}

.step-card-container {
    width: 65%;
}


.step-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-transform: capitalize;
    color: #2575AF;
}

.step-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    color: #000000;
    /* width: 90% */
}

.about-section {
    background-color: #F7F3FF;
    ;
}

.heading-black {
    color: #5A5A5A;
}

.heading-two-blue {
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #2873B9;
    text-align: right;
}

.about-sub-heading {
    font-weight: 600;
    font-size: 27px;
    line-height: 122.18%;
    text-align: right;
    color: #000000;
}

#horizontal-line {
    border: 2px solid #000000;
    width: 393px;
    margin-left: auto;
}

#circle-point {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #2575AF;
    margin-top: 7px;
    margin-left: 6px;
}

.about-paragraph {
    width: 850px;
    font-size: 24px;
    line-height: 101%;
    text-align: right;
    color: #000000;
}

#dashed-circle {
    position: relative;
    width: 346px;
    height: 346px;
    left: -173px;
    top: -555px;
}



#violet-circle {
    position: relative;
    width: 346px;
    height: 346px;
    /* left: 977px; */
    right: -980px;
    top: -406px;

}

#counter-section {
    margin-bottom: -155px;
}

#red-card {
    background-color: #FF8888;
    border-radius: 26px;
    width: 157px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}


#violet-card {
    background-color: #E0BCF1;
    border-radius: 26px;
    width: 211px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

#green-card {
    background-color: #8ADAA0;
    border-radius: 26px;
    width: 177px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

#yellow-card {
    background-color: #FFEBB8;
    border-radius: 26px;
    width: 251px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

#blue-card {
    background-color: #93BEE4;
    border-radius: 26px;
    width: 147px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

/* the score on the cards */
#red-card-score {
    font-weight: 700;
    font-size: 96px;
    position: relative;
    top: 53px;
    left: 23px;
    color: #398633;
}

#violet-card-score {
    font-weight: 700;
    font-size: 96px;
    position: relative;
    top: 53px;
    left: 15px;
    color: #3D4B9D;
}

#green-card-score {
    font-weight: 700;
    font-size: 96px;
    position: relative;
    top: 53px;
    left: 19px;
    color: #E3AF27;
}

#yellow-card-score {
    font-weight: 700;
    font-size: 96px;
    position: relative;
    top: 53px;
    left: 23px;
    color: #E03535;
}

#blue-card-score {
    font-weight: 700;
    font-size: 96px;
    position: relative;
    top: 53px;
    left: 27px;
    color: #398633;
}

#section-five {
    background-color: #F5FAFF;
    height: 561px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#section-five-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #2873B9;
    text-align: right;
}

#section-five-paragraph {
    font-size: 24px;
    line-height: 101%;
    color: #000000;
    text-align: right;
}

#section-five-image-container {
    position: relative;
}

#image-dots {
    position: absolute;
    right: -73px;
    top: -50px;
    z-index: 1;
}

#section-five-image {
    position: relative;
    z-index: 5;
}

#section-five-blue-card {
    position: absolute;
    right: 351px;
    top: 278px;
    z-index: 1;
}

#universities {
    width: 1140px;
    height: 187px;
    background: #E2EFFC;
    border-radius: 29px;
    margin: auto;
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

.uni-image-small {
    width: 92px;
    height: 33px;
}

.uni-image-medium {
    width: 142px;
    height: 60px;
}

.uni-image-large {
    width: 283px;
    height: 79px;
}

.heading-center-blue {
    font-weight: 700;
    font-size: 64px;
    color: #2873B9;
    text-align: center;

}

.heading-center-black {
    font-weight: 700;
    font-size: 64px;
    color: #5A5A5A;
    text-align: center;
    height: 55px;
}

.accordion-text {
    font-weight: 400;
    font-size: 32px;
}

.accordion-horizontal-line {
    border: 1px solid #000000;
    width: 635px;
    margin: 0;
}

.accordion-container {
    padding-left: 110px;
    padding-right: 110px;
}

#feedback-container {
    height: 520px;
    background: #FFF5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 125px;
    margin-bottom: 100px;
}

.feedback-card {
    width: 379px;
    height: 270px;
    background: #FFFFFF;
    box-shadow: 8px 16px 20px 10px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.feedback-student-name {
    font-weight: 600;
    font-size: 24px;
    color: #515151;
}

.feedback-paragraph {
    font-style: normal;
    font-weight: 400;
    color: black;
}

.vertical-dashed-line {
    height: 72px;
    border-left: 3px dashed #1F65A9;
}

.sub-heading-service {
    font-weight: 700;
    font-size: 24px;
    color: #2873B9;
    text-align: left;
}

#service-third-element {
    margin-top: 107px;
}

#service-sub-heading-one {
    width: 170px;
}

#service-sub-heading-two {
    width: 213px;
}

#service-sub-heading-three {
    width: 268px;
}

.paragraph-service {
    /* width: 195px; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    text-transform: lowercase;
    color: #000000;
}

#service-paragraph-one {
    width: 195px;
}

#service-paragraph-two {
    width: 195px;
}

#service-paragraph-three {
    width: 265px;
}

#light-green-dots {
    position: relative;
    width: 100px;
    height: 163px;
    top: -870px;
}

#pink-circle-two {
    position: relative;
    width: 317px;
    height: 346px;
    right: -1229px;
    top: -770px;
}

.heading-center-black {
    font-weight: 700;
    font-size: 64px;
    /* text-align: left; */
    color: #5A5A5A;
}

.btn-outline-warning {
    color: #F4752D;
    border-color: #F4752D;
}

.btn-outline-warning:hover {
    color: white;
    background-color: #F4752D;
    border-color: white;
}

.popular-courses {
    margin-top: -255px;
    margin-bottom: 85px;
}

.courses-card-container {
    width: 349px;
    height: 424px;
}

.sub-heading-two {
    font-weight: 600;
    font-size: 16px;
    color: #989898;
}

.sub-heading-three {
    width: 245px;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.price-blue {
    font-weight: 800;
    font-size: 20px;
    color: #1F65A9;
}


#dashed-circle-violet {
    position: relative;
    width: 346px;
    height: 346px;
    left: -535px;
    top: -61px;
}

.form-container {
    position: relative;
    z-index: 2;
}

#form-background {
    position: relative;
    width: 876px;
    /* height: 346px; */
    right: -802px;
    top: -405px;
    z-index: 0;
}

.form-field input {
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    color: #5A5A5A;
}

.form-field textarea:focus,
input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.input-horizontal-line {
    border-bottom: 1px outset black;
}

.form-text-area textarea::placeholder {
    padding-top: 15px;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    color: #5A5A5A;
}

#get-in-touch {
    font-weight: 700;
    font-size: 64px;
    text-align: right;
    padding-right: 250px;
    text-transform: lowercase;
    color: #EC7938;
}

#form-send-message-button-text {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
}